<web-app>  
  
<servlet>  
<servlet-name>SimpleServlet</servlet-name>  
<servlet-class>SimpleServlet</servlet-class>  
</servlet> 
<servlet>  
<servlet-name>HelloServlet</servlet-name>  
<servlet-class>HelloServlet</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>SimpleServlet1</servlet-name>  
<url-pattern>/SimpleServlet1</url-pattern>  

</servlet-mapping>  
<servlet-mapping>  
<servlet-name>HelloServlet</servlet-name>  
<url-pattern>/HelloServlet</url-pattern> 
  
</web-app>  
